_deps/
.privdata/
.vscode/
libpsl_src-install/
cpr/
CMakeFiles/
build/
Makefile
cmake_install.cmake
CMakeCache.txt
CMakeList.txt
CPackConfig.cmake
CPackSourceConfig.cmake
libpsl-meson-cross.txt
performance_tests.cpp
radarscraper
test_data.json
teststuff.txt
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.ilk
*.pdb
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.dwo